syntax: glob

#Project specific files
L5DBConnections.config

#User files
*.sln.docstates
*.suo
*.user
*.userosscache

#Build files
bld/
[Bb]in/
[Dd]ebug/
[Dd]ebugPublic/
[Oo]bj/
[Rr]elease/
[Rr]eleases/
x64/
x86/
.vs/

_ReSharper*/
[Bb]uild[Ll]og.*
*.DotSettings.user
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
[Tt]est[Rr]esult*

*.aps
*.bak
.builds

# Delete any cache files but keep any cache directories
*.[Cc]ache
!*.[Cc]ache/
*.cachefile
*.etl
*.exe
.fake
*_i.c
*_i.h
*.ilk
*.ldf
*.lib
*.log
*.mdf
*.meta
*.ncb
*.obj
*.opendb
*.orig
*_p.c
*.pch
*.pdb
*.pgc
*.pgd
*.pidb
*.psess
*.pubxml
*.rsp
*.sap
*.sbr
*.scc
*.sdf
*.svclog
*.temp
*.tlb
*.tlh
*.tli
*.tmp_proj
*.vsp
*.vspscc
*.vspx
*.vssscc